html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("grey.png");
    font: 12px Arial, Helvetica, sans-serif;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
}

p span {
    float: left;
}

iframe {
    display: block; 
    border-top: 1px solid lightgray;
    border-left: none;
    border-right: none;
    border-bottom: none;
    height: 100%;
    width: 100%;
}

a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}
