html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


body {
    background-image: url("grey.png");
    font: 12px Arial, Helvetica, sans-serif;
}

/*
iframe {
    display: fixed; 
    border-top: 1px solid lightgray;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 100%;
    height: 100%;
}
*/

p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
}

p span {
    float: left;
}

a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}
