html, body {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("grey.png");
}

* {
    box-sizing: border-box;
}

body {
    font: 12px Arial, Helvetica, sans-serif;
}

p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
}

p span {
    float: left;
}

.frame {
    border-top: 1px solid lightgray;
    border-left: none;
    border-right: none;
    margin: none;
    padding: none;
    display: block; 
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}
